@{
    Layout = null;
}
@Model  Segmento
<!-- Estilo del Registro -->
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/select2/select2_registro.min.css" rel="stylesheet" media="all">
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<link href="~/Content/css/registro.css" rel="stylesheet" media="all">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="page-wrapper  font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <form action="/Usuario/Registrar" method="Post" class="formu-usuario" id="form-rol-usuario">
                    <h2 id="tipo_usuario" class="form-title">¿Qué tipo de persona eres?</h2>



                    <!--Tipo de persona-->
                    <center>
                        <div class="form-radio">
                            <input type="radio" id="newbie" checked="checked" />
                            <label for="newbie">Usuario</label>

                            <input type="radio" id="average" />
                            <label for="average">Empresa</label>
                        </div>
                    </center>

                    <!--FOTO DE PERFIL-->
                    <div class="avatar-wrapper" id="avatar">
                        <img class="profile-pic" src="" />
                        <div class="upload-button">
                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        </div>
                        <input class="file-upload" type="file" accept="image/*" />
                    </div>

                    <!--Formulario de persona-->
                    <div id="persona">
                        <div class="input-group" hidden>
                            <input class="input--style-4" type="number" value="1" name="RolId">
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Nombre-->
                                    <label class="label">Nombre</label>
                                    <input class="input--style-4" type="text" name="Nombre">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Apellido-->
                                    <label class="label">Apellido</label>
                                    <input class="input--style-4" type="text" name="Apellido">
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Fecha de nacimiento-->
                                    <label class="label">Fecha de nacimiento</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="FechaNacimiento">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label class="label">Seleccione sexo</label>
                                <div>
                                    <select class="selectpicker" id="sexoId" onchange="changeOption(this)"
                                            class="form-control" data-live-search="true" title="Seleccione sexo.." name="SexoId">


                                        @foreach (var item in ViewBag.ListaSexo as MultiSelectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <!--Sexo-->
                            @*<div class="col-2">
                                    <div class="input-group">

                                        <label class="label">Sexo</label>
                                        <div class="p-t-10">
                                            <label class="radio-container m-r-45">
                                                Masculino
                                                <input type="radio" checked="checked" name="gender">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                Femenino
                                                <input type="radio" name="gender">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--DNI-->
                                    <label class="label">DNI</label>
                                    <input class="input--style-4" type="number" name="Dni">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <!--Email-->
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Localidad-->
                                    <label class="label">Seleccione Localidad</label>
                                    <div>
                                        <select class="selectpicker" id="LocalidadId" onchange="changeOption(this)"
                                                class="form-control" data-live-search="true" title="Seleccione localidad.." name="LocalidadId">


                                            @foreach (var item in ViewBag.ListaLocalidades as MultiSelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }

                                        </select>
                                    </div>
                                    @*<label class="label">Localidad</label>
                                        <input class="input--style-4" type="text" name="localidad_per">*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Celular-->
                                    <label class="label">Celular</label>
                                    <input class="input--style-4" type="number" name="Celular">
                                </div>
                            </div>
                        </div>


                        <div class="input-group">
                            <label class="label">Seleccione intereses</label>
                            <div>
                                <select class="selectpicker" id="Categoria" onchange="changeOption(this)"
                                        class="form-control" data-live-search="true" title="Seleccione intereses.." name="Categoria.Id">


                                    @foreach (var item in ViewBag.ListaIntereses as MultiSelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                </select>
                            </div>
                        </div>

                        @*<div class="input-group">
                                <label class="label">Intereses</label>
                                <div class="rs-select2 js-select-simple select--no-search" id="multi">
                                    <select multiple name="intereses">
                                        <option>Actividades al aire libre</option>
                                        <option>Deportes</option>
                                        <option>Cursos y Talleres</option>
                                        <option>Entretenimientos</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>*@

                        <!--Segmento-->

                        <div class="input-group">
                            <label class="label">¿A qué segmento perteneces?</label>
                            <div>
                                <select class="selectpicker" id="segmentoId" onchange="changeOption(this)"
                                        class="form-control" data-live-search="true" title="Seleccione segmento.." name="SegmentoId">


                                    @foreach (var item in ViewBag.ListaSegmentos as MultiSelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                </select>
                            </div>
                            @*<div class="rs-select2 js-select-simple select--no-search">
                                <select name="segmento">
                                    <option>Niños</option>
                                    <option>Jóvenes</option>
                                    <option>Adultos</option>
                                    <option>Adultos mayores</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>*@
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Usuario-->
                                    <label class="label">Usuario</label>
                                    <input class="input--style-4" type="text" name="UsuarioName">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <!--Contraseña-->
                                    <label class="label">Contraseña</label>
                                    <input class="input--style-4" type="password" name="Pass">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Aceptar</button>
                            <a href="/Home/Index"><button class="btn btn--radius-2 btn--blue" type="button">Cancelar</button></a>

                        </div>


                    </div>

                </form>
                <form action="/Usuario/Registrar" method="Post" class="formu-entidad" id="form-rol-entidad">

                    <div id="empresa">
                        <div class="input-group" hidden>
                            <input class="input--style-4" type="number" value="2" name="RolId">
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Nombre de la empresa-->
                                    <label class="label">Nombre</label>
                                    <input class="input--style-4" type="text" name="Nombre">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Email de la empresa-->
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="text" name="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Seleccione Localidad</label>
                                    <div>
                                        <select class="selectpicker" id="LocalidadId" onchange="changeOption(this)"
                                                class="form-control" data-live-search="true" title="Seleccione localidad.." name="LocalidadId">


                                            @foreach (var item in ViewBag.ListaLocalidades as MultiSelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }

                                        </select>
                                    </div>
                                    <!--Localidad de la empresa-->
                                    @*<label class="label">Localidad</label>
                                        <input class="input--style-4" type="text" name="localidad_emp">*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Telefono de la empresa-->
                                    <label class="label">Teléfono</label>
                                    <input class="input--style-4" type="number" name="Telefono">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Celular de la empresa-->
                                    <label class="label">Celular</label>
                                    <input class="input--style-4" type="number" name="Celular">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Sitio web personal de la empresa-->
                                    <label class="label">Sitio web personal</label>
                                    <input class="input--style-4" type="text" name="SitioWeb">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Seleccione Rubro</label>
                            <div>
                                <select class="selectpicker" id="categoriaId" onchange="changeOption(this)"
                                        class="form-control" data-live-search="true" title="Seleccione rubro.." name="UsuarioInscriptoEnActividad">


                                    @foreach (var item in ViewBag.ListaRubro as MultiSelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                </select>
                            </div>
                        </div>
                        @*<div class="input-group">
                                <label class="label">Rubro</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="rubro">
                                        <option>Actividades al aire libre</option>
                                        <option>Deportes</option>
                                        <option>Cursos y Talleres</option>
                                        <option>Entretenimientos</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>*@

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <!--Usuario-->
                                    <label class="label">Usuario</label>
                                    <input class="input--style-4" type="text" name="UsuarioName">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <!--Contraseña-->
                                    <label class="label">Contraseña</label>
                                    <input class="input--style-4" type="password" name="Pass">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Aceptar</button>
                            <a href="/Home/Index"><button class="btn btn--radius-2 btn--blue" type="button">Cancelar</button></a>

                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>


<!-- Scripts del Login-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/datepicker/moment.min.js"></script>
<script src="~/vendor/datepicker/daterangepicker.js"></script>
<script src="/Content/js/registro.js"></script>
