@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Estilo-->

<link href="~/Content/css/Actividades.css" rel="stylesheet" />
<link href="~/Content/css/resultados.css" rel="stylesheet" />
<!---->
<!--BUSCADOR-->
<section class="ftco-section" style="margin-top: 40px;">
    <div class="header">
        <div class="inner-header flex" style="height: 30vh;" id="extender">
            <!--Just the logo.. Don't mind this-->
            <div class="container h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="s009">
                                <form action="/Actividad/Actividades" method="post">
                                    <div class="inner-form" style="margin-top: 10px;">
                                        <div class="basic-search">
                                            <div class="input-field">
                                                @if (ViewBag.Valor != "")
                                                {
                                                    <input id="search" type="text" name="textoIngresado" placeholder="Introduce el nombre de una Actividad..." value="@ViewBag.Valor" />
                                                }
                                                else
                                                {
                                                    <input id="search" type="text" name="textoIngresado" placeholder="Introduce el nombre de una Actividad..."/>
                                                }


                                                <div class="icon-wrap">
                                                    <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="advance-search" id="advance-search" style="border-radius:3px;">
                                            <span class="desc" id="busqueda" style="margin-right: 540px; cursor: pointer; color: #69D385; text-decoration: underline;">BÚSQUEDA AVANZADA</span>
                                            <div id="busqueda_avanzada" style="display:none">
                                                <div class="row">
                                                    <div class="input-field" style="padding: 10px">
                                                        <div class="input-select">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                                                                <option placeholder="" value="" style="color:#00bbec;">Categoria</option>
                                                                <option>Actividades al aire libre</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-field">
                                                        <div class="input-select">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                                                                <option placeholder="" value="">SubCategoria</option>
                                                                <option>Caminata</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-field">
                                                        <div class="input-select">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                                                                <option placeholder="" value="">Segmento</option>
                                                                <option>Jóvenes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row second">
                                                    <div class="input-field">
                                                        <div class="input-select" style="width: 220px; margin-left: 10px;">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1);">
                                                                <option placeholder="" value="">Localidad</option>
                                                                <option>San Justo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-field">
                                                        <div class="input-select">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                                                                <option placeholder="" value="">Precio</option>
                                                                <option>Gratuitas</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-field">
                                                        <div class="input-select">
                                                            <select data-trigger="" name="choices-single-defaul" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                                                                <option placeholder="" value="">Edad</option>
                                                                <option>20-30 años</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row third">
                                                    <div class="input-field">
                                                        <div class="result-count" style="margin-left: 20px;">
                                                            <span></span>
                                                        </div>
                                                        <div class="group-btn">
                                                            <button class="btn-delete" id="delete">BORRAR</button>
                                                            <button class="btn-search" id="button-search" style="width:100px; margin-right: 22px;">BUSCAR</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!--Waves end-->
    </div>

    <script src="~/Content/js/Choises.js"></script>
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select',
            {
                searchEnabled: false,
                itemSelectText: '',
                removeItemButton: true,
            });
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });

    </script>
</section>
<!--FIN BUSCADOR-->


<!--RESULTADOS-->
<section style="margin-top:-55px">

    @if (ViewBag.Lista != null)
    {
        <div class="s009">
            <div style="color:#00bbec; font-weight: bolder; margin-right: 15px; font-size: 15px;"> @ViewBag.Contador </div> <div style="color:#666; font-size: 15px;"> resultados </div>
        </div>
    }


    <div class="site-section">
        <div class="container">
            <div class="row mt-5">
                @if (ViewBag.Lista != null)
                {
                    foreach (Actividad i in ViewBag.Lista)
                    {
                        if (i.Foto != null && i.Foto.Length > 0)
                        {
                            ViewBag.Url = "data:image;base64," + Convert.ToBase64String(i.Foto);
                        }
                        else
                        {
                            ViewBag.Url = "";
                        }
                        <div class="col-lg-6">

                            <div class="d-block d-md-flex listing">
                                <a href="/Actividad/FichaActividad/?idActividad=@i.Id&inscribirse=false" class="img d-block" style="background-image: url('@ViewBag.Url')"></a>
                                <div class="lh-content" style="overflow:hidden; text-overflow:ellipsis; white-space: nowrap; ">
                                    <span class="category">@i.Categoria.Descripcion</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="#" style="color:#30e3ca; font-weight: 500;font-size: 18px;">@i.Titulo</a></h3>
                                    <address>@i.Localidad.Descripcion</address>
                                    <span>@i.Descripcion</span>
                                    <p class="mb-0">
                                        <!--<span class="icon-star text-warning"></span>-->
                                        <span class="icon-star text-secondary"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="icon-star text-secondary"></span>
                                    </p>
                                </div>
                            </div>
                       </div>
                    }
                }
            </div>
         </div>
    </div>
</section>
<!--FIN RESULTADOS-->

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/js/Buscador.js"></script>