
@{
    ViewBag.Title = "CrearFormularioDinamico";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

@*@model Vita.ViewModels.FormularioDinamicoViewModel*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Custom Stylesheet -->
    <link href="../../Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../../Content/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../../Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h3>Completar formulario de la Actividad @ViewBag.Formulario.Actividad.Titulo</h3>
                        <h4>@ViewBag.Formulario.Actividad.Descripcion</h4>

                        <h5>@ViewBag.Formulario.Titulo</h5>
                        <h5>@ViewBag.Formulario.Descripcion</h5>

                        <div class="form-validation">
                            <form class="form-valide" id="form" action=/Actividad/GuardarFormularioUsuario method=POST>
                                <div id="ContenedorEmpleados"></div>

                                @foreach (var cam in ViewBag.Formulario.Campos)
                                {

                                    if (cam.TipoDatoCampoId == 1)
                                    {

                                        <input name="CamposVm.CamposId" value="@cam.Id" hidden />
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="Descripcion">
                                                @cam.Nombre  @if (cam.Obligatorio)
                                                {<span class="text-danger">*</span>}
                                            </label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" id="val-suggestions" name="RespuestaDate" rows="5"></textarea>
                                            </div>
                                        </div>
                                    }
                                    if (cam.TipoDatoCampoId == 2)
                                    {
                                        <input name="CamposId" value="@cam.Id" hidden />
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="Nombre">
                                                @cam.Nombre  @if (cam.Obligatorio)
                                                {<span class="text-danger">*</span>}
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="val-suggestions" name="RespuestaNumero" />

                                            </div>
                                        </div>
                                    }
                                    if (cam.TipoDatoCampoId == 3)
                                    {
                                        <input name="CamposId" value="@cam.Id" hidden />
                                        <div class="form-group row">
                                            <!--Fecha Hasta-->
                                            <label class="col-lg-4 col-form-label" for="RangoFecha">
                                                @cam.Nombre  @if (cam.Obligatorio)
                                                {<span class="text-danger">*</span>}
                                            </label>
                                            <div class="col-lg-6">
                                                <div class="input-group date" style="width:200px;">
                                                    <input type="text" class="form-control" placeholder="02/12/2019" name="RespuestaTexto" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }





                                <div class="form-group row" id="botonEnviar">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Guardar respuestas</button>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
       
        // indicamos que se ejecuta la funcion a los 5 segundos de haberse
        // cargado la pagina
        setTimeout(clickbutton, 1000);

        function clickbutton() {
            // simulamos el click del mouse en el boton del formulario
            $("#action-button").click();
         
            var cant =   @ViewBag.Formulario.Campos.Count;
                //$("#ContenedorEmpleados").append(
                  
          //  var miArray = [];
          //  miArray.push(@ViewBag.Formulario.Campos);
                  //if (cam.TipoDatoCampoId == 1)
                       //{
                       //    alert("Hola");
                       //}
                   
           


                       alert(@ViewBag.Formulario.Campos.Count);

                       alert("Aqui llega"); //Debugger
                   }
        $('#action-button').on('click', function () {
                           console.log('action button clicked');
                       });
                   });
</script>
