
@{
    ViewBag.Title = "CrearActividad";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Custom Stylesheet -->
    <link href="../../Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../../Content/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../../Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 style="padding: 5px; color: #fff; background-image: linear-gradient(230deg, #C0AEDB, #bc4b8a); border-color: #337ab7; WIDTH: 100%; border-radius: 5px; padding-left: 10px; text-align: center;">CREAR ACTIVIDAD</h4>
                        <br />
                        <div class="form-validation">
                            <!--Titulo  <form class="form-valide" action=CreacionActividad method=POST>-->
                            @using (Html.BeginForm("CreacionActividad", "Actividad", FormMethod.Post, new { enctype = "multipart/form-data" ,id ="myform", name ="myform" }))
                            {
                                <h5 style="padding: 5px; color: #fff; background-color: #69D49A ; border-color: #337ab7; WIDTH: 17%; border-radius: 5px; text-align: center;">DATOS GENERALES</h5>
                                <div class="form-group row">
                                    <!--Titulo-->
                                    <label class="col-lg-4 col-form-label" for="Titulo">
                                        Título de la actividad<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="Titulo" placeholder="Truco.." required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Descripcion-->
                                    <label class="col-lg-4 col-form-label" for="Descripcion">
                                        Breve descripción <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="val-suggestions" name="Descripcion" rows="5" placeholder="Torneo de truco con premios..." required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Segmento-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Segmento <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div>
                                            @foreach (var item in ViewBag.ListaSegmentos)
                                            {
                                                <input type="checkbox" name="selectedSegmento" value="@item.Value" style="margin-left: 10px;" />
                                                @item.Text
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Categorias-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Rubro <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="filtroCategoria" data-live-search="true" title="Seleccionar rubro..." name="CategoriaId">
                                            <option>Seleccionar rubro...</option>

                                            @foreach (var item in ViewBag.ListaRubro as MultiSelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Subcategorias-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Tipo de actividad <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroSubcategoria">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Cupo-->
                                    <label class="col-lg-4 col-form-label" for="CantidadCupo">
                                        Cantidad de cupos disponibles<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="CantidadCupo" placeholder="100" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Edad minima-->
                                    <label class="col-lg-4 col-form-label" for="EdadMinima">
                                        Edad mínima<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="EdadMinima" placeholder="25" required>
                                    </div>
                                </div>

                                <!--Edad maxima-->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="EdadMaxima">
                                        Edad máxima<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="EdadMaxima" placeholder="70" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Precio-->
                                    <label class="col-lg-4 col-form-label" for="Precio">
                                        Precio <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-currency" name="Precio" placeholder="0.00">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Foto-->
                                    <label class="col-lg-4 col-form-label" for="Foto">
                                        Ingrese una foto de la Actividad<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="file-upload" type="file" id="Foto" name="Foto" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Video-->
                                    <label class="col-lg-4 col-form-label" for="Foto">
                                        Link video<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="Url" name="Url" />
                                    </div>
                                </div>

                                <h5 style="padding: 5px; color: #fff; background-color: #69D49A; border-color: #337ab7; WIDTH: 10%; border-radius: 5px; text-align: center;">FECHAS</h5>

                                <div id="fechas">
                                    <div class="form-group row">
                                        <!--Fecha Desde-->
                                        <label class="col-lg-4 col-form-label" for="RangoFecha">
                                            Fecha de inicio <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="input-group date" style="width:200px;">
                                                <input type="text" class="form-control" placeholder="01/12/2019" name="InicioEvento" data-provide="datepicker" data-date-format="dd/mm/yyyy" required>
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Hora Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicio" name="HoraInicio" style="width:200px;" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fecha Hasta-->
                                        <label class="col-lg-4 col-form-label" for="RangoFecha">
                                            Fecha fin <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="input-group date" style="width:200px;">
                                                <input type="text" class="form-control" placeholder="02/12/2019" name="FinEvento" data-provide="datepicker" data-date-format="dd/mm/yyyy" required>
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Hora Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFin" name="HoraFin" style="width:200px;" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <!--PREGUNTA SI TIENE DIAS Y HORARIOS FIJOS EN LA SEMANA-->
                                    <label class="col-lg-4 col-form-label">
                                        ¿Es una actividad que tiene dias y horarios fijos en la semana?
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <label><input type="radio" id="cbox1" name="fecha" value="true" title="Si escoge esta opción deberá seleccionar los días de la semana en los cuales estará disponible la actividad" required> Si</label><br>
                                        <label><input type="radio" id="cbox2" name="fecha" value="false" required> No</label><br>
                                    </div>
                                </div>

                                <div class="form-group row" id="dias" style="display:none">
                                    <!--Dias de la semana-->
                                    <label class="col-lg-4 col-form-label">
                                        Seleccione los dias en los cuales estará disponible la actividad<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="checkbox" id="Lunes" name="Lunes" style="margin-left: 10px;"> Lunes
                                        <input type="checkbox" id="Martes" name="Martes" style="margin-left: 10px;"> Martes
                                        <input type="checkbox" id="Miercoles" name="Miercoles" style="margin-left: 10px;"> Miércoles
                                        <input type="checkbox" id="Jueves" name="Jueves" style="margin-left: 10px;"> Jueves
                                        <input type="checkbox" id="Viernes" name="Viernes" style="margin-left: 10px;"> Viernes
                                        <input type="checkbox" id="Sabado" name="Sabado" style="margin-left: 10px;"> Sábado
                                        <input type="checkbox" id="Domingo" name="Domingo" style="margin-left: 10px;"> Domingo
                                    </div>
                                </div>

                                <!--Horario Lunes-->
                                <div id="horarioLunes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Lunes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioLunes" name="HoraInicioLunes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Lunes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinLunes" name="HoraFinLunes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Martes-->
                                <div id="horarioMartes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Martes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioMartes" name="HoraInicioMartes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Martes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinMartes" name="HoraFinMartes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Miercoles-->
                                <div id="horarioMiercoles" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Miercoles</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioMiercoles" name="HoraInicioMiercoles" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Miercoles</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinMiercoles" name="HoraFinMiercoles" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Jueves-->
                                <div id="horarioJueves" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Jueves</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioJueves" name="HoraInicioJueves" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Jueves</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinJueves" name="HoraFinJueves" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Viernes-->
                                <div id="horarioViernes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Viernes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioViernes" name="HoraInicioViernes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Viernes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinViernes" name="HoraFinViernes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Sabado-->
                                <div id="horarioSabado" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Sabado</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioSabado" name="HoraInicioSabado" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Sabado</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinSabado" name="HoraFinSabado" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Domingo-->
                                <div id="horarioDomingo" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Domingo</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraInicioDomingo" name="HoraInicioDomingo" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Domingo</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="HoraFinDomingo" name="HoraFinDomingo" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--DOMICILIO-->
                                <h5 style="padding: 5px; color: #fff; background-color: #69D49A ; border-color: #337ab7; WIDTH: 10%; border-radius: 5px; text-align: center;">DOMICILIO</h5>

                                <div class="form-group row">
                                    <!--Calle-->
                                    <label class="col-lg-4 col-form-label" for="NombreCalle">
                                        Ingrese nombre de la calle<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="NombreCalle" placeholder="Nombre de la calle" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Nro calle-->
                                    <label class="col-lg-4 col-form-label" for="NumeroCalle">
                                        Ingrese el numero de la calle<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="NumeroCalle" placeholder="Numero de la calle" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Piso-->
                                    <label class="col-lg-4 col-form-label" for="NumeroPiso">
                                        Ingrese el numero del piso (si es planta baja, ingresar cero)
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="NumeroPiso" placeholder="0">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Departamento-->
                                    <label class="col-lg-4 col-form-label" for="NumeroDepartamento">
                                        Ingrese el numero y letra del departamento
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="NumeroDepartamento" placeholder="1c">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Codigo postal-->
                                    <label class="col-lg-4 col-form-label" for="CodigoPostal">
                                        Ingrese el codigo postal<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="CodigoPostal" placeholder="B1704" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Provincia-->
                                    <label class="col-lg-4 col-form-label" for="ProvinciaId">
                                        Seleccione provincia <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="filtroProvincia" name="ProvinciaId" title="Seleccionar provincia...">
                                            <option>Seleccionar provincia...</option>
                                            @foreach (var item in ViewBag.ListaProvincia as MultiSelectList)
                                            {

                                                <option name="valorActual" value="@item.Value">@item.Text</option>

                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Departamento-->
                                    <label class="col-lg-4 col-form-label" for="DepartamentoId">
                                        Seleccione departamento <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroDepartamento">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Localidad-->
                                    <label class="col-lg-4 col-form-label" for="DepartamentoId">
                                        Seleccione localidad <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroLocalidad">
                                    </div>
                                </div>
                                <input type="hidden" id="ConUsuarioPendiente" name="ConUsuarioPendiente"> 
                                <input type="hidden" id="AccionCrearPublicar" name="AccionCrearPublicar">
                                <div class="form-group row" id="botonEnviar">
                                    <div class="col-lg-8 ml-auto">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#guardar">Crear Actividad</button>
                                    </div>

                                </div>
                                <div class="form-group row" >
                                    <div class="col-lg-8 ml-auto">
                                      
                                        <div class="bootstrap-modal">
                                           
                                            <!-- Modal -->
                                            <div class="modal fade" id="guardar">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" >
                                                            <h5 class="modal-title">Importante</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Puede elegir publicar la actividad ahora, o bien hacerlo luego.</p>
                                                            <p>Al publicar, automaticamente la actividad pasa a ser visible para todos los usuarios.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#publicarLuego" data-dismiss="modal" onclick="crear()">Publicar luego</button>
                                                            <button type="button" class="btn btn-primary" onclick="publicar()">Publicar ahora</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                            <div class="modal fade" id="publicarLuego">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" >
                                                            <h5 class="modal-title">Importante</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Su actividad se ha creado con exito.</p>
                                                            <p>Recuerde, para que los usuarios puedan acceder a esta actividad, debe publicarla. Puede hacerlo desde <a href="/Actividad/ListaActividades"> <u>aquí</u></a> </p>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="salir" class="btn btn-primary" data-dismiss="modal">Salir</button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                          
                                
                                    </div>
                                </div>

                            }
                            @*<form class="form-valide" action="CrearFormularioDinamico" method="Get" id="formFormu">
                <div class="form-group row">
                    <div class="col-lg-8 ml-auto">
                        <button type="submit" class="btn btn-primary">Crear formulario</button>
                </div>
            </div>
        </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/js/CrearActividad.js"></script>

    <script src="../../Content/plugins/common/common.min.js"></script>
    <script src="../../Content/js/custom.min.js"></script>
    <script src="../../Content/js/settings.js"></script>
    <script src="../../Content/js/gleek.js"></script>
    <script src="../../Content/js/styleSwitcher.js"></script>

    <script src="../../Content/plugins/moment/moment.js"></script>
    <script src="../../Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../../Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="../../Content/js/plugins-init/form-pickers-init.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript">
            function crear() {
                var formulario = document.getElementById("myform");
                document.myform.ConUsuarioPendiente.value = true;
                document.myform.AccionCrearPublicar.value = false;
                formulario.submit();

            }
            function publicar() {
                var formulario = document.getElementById("myform");
                document.myform.ConUsuarioPendiente.value = true;
                document.myform.AccionCrearPublicar.value = true;
                formulario.submit();
             }
   
        </script>

</body>

</html>


    <script>
        //Todo siempre una vez cargada la página
        $(document).ready(function () {

            //Esto corre cuando cambias de opción en el primer select
            $('#filtroCategoria').on('change', function () {

                var idCategoria = this.value;

                //Si elegiste la opción de los guíones paramos aca para no hacer nada
                if (idCategoria === 0) {
                    return;
                }

                //Ajax SUBCATEGORIAS
                $.ajax({
                    url: "obtenerSubcategorias/" + this.value,
                    type: 'GET',
                    dataType: "json",
                    success: function (res) {
                        //Creando el segundo select
                        $("#filtroSubcategoria").empty().append('<select class="form-control" id="filtroSub" data-live-search="true" title="Seleccionar tipo de actividad..." name="SubcategoriaId">');
                        $('#filtroSub').append("<option> Seleccionar tipo de Actividad... </option>");
                        $.each(res, function () {
                            $('#filtroSub').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                        });
                    }
                });
            });

            $('#filtroProvincia').on('change', function () {

                var idProvincia = this.value;

                //Si elegiste la opción de los guíones paramos aca para no hacer nada
                if (idProvincia === 0) {
                    return;
                }

                //Ajax DEPARTAMENTOS
                $.ajax({
                    url: "obtenerDepartamentos/" + this.value,
                    type: 'GET',
                    dataType: "json",
                    success: function (res) {
                        //Creando el segundo select
                        $("#filtroDepartamento").empty().append('<select class="form-control" id="filtroDep" data-live-search="true" title="Seleccionar departamento..." name="DepartamentoId">');
                        $('#filtroDep').append("<option>Seleccionar departamento...</option>");
                        $.each(res, function () {
                            $('#filtroDep').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                        });

                        //Esto corre cuando cambias de opción en el primer select
                        $('#filtroDep').on('change', function () {

                            var idDepartamento = this.value;

                            //Si elegiste la opción de los guíones paramos aca para no hacer nada
                            if (idDepartamento === 0) {
                                return;
                            }

                            //Ajax LOCALIDADES
                            $.ajax({
                                url: "obtenerLocalidades/" + this.value,
                                type: 'GET',
                                dataType: "json",
                                success: function (res) {
                                    //Creando el segundo select
                                    $("#filtroLocalidad").empty().append('<select class="form-control" id="filtroLoc" data-live-search="true" title="Seleccionar localidad..." name="LocalidadId">');
                                    $('#filtroLoc').append("<option>Seleccionar localidad...</option>");
                                    $.each(res, function () {
                                        $('#filtroLoc').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                                    });
                                }
                            });
                        });

                    }
                });
            });
        });
    </script>




