
@{
    ViewBag.Title = "CrearActividad";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Custom Stylesheet -->
    <link href="../../Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../../Content/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../../Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h3>Crear actividad</h3>
                        <div class="form-validation">
                            <!--Titulo  <form class="form-valide" action=CreacionActividad method=POST>-->
                            @using (Html.BeginForm("CreacionActividad", "Actividades", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group row">
                                    <!--Titulo-->
                                    <label class="col-lg-4 col-form-label" for="Titulo">
                                        Título de la actividad<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="Titulo" placeholder="Truco..">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Descripcion-->
                                    <label class="col-lg-4 col-form-label" for="Descripcion">
                                        Breve descripción <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="val-suggestions" name="Descripcion" rows="5" placeholder="Torneo de truco con premios..."></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Segmento-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Segmento <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div>
                                            @foreach (var item in ViewBag.ListaSegmentos)
                                            {
                                                <input type="checkbox" name="selectedSegmento" value="@item.Value" style="margin-left: 10px;" />
                                                @item.Text
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Categorias-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Rubro <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="filtroCategoria" data-live-search="true" title="Seleccionar rubro..." name="CategoriaId">
                                            <option>Seleccionar rubro...</option>

                                            @foreach (var item in ViewBag.ListaRubro as MultiSelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Subcategorias-->
                                    <label class="col-lg-4 col-form-label" for="val-skill">
                                        Tipo de actividad <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroSubcategoria">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--PREGUNTA SI TIENE FECHA INICIO Y FIN-->
                                    <label class="col-lg-4 col-form-label">
                                        ¿La actividad va a tener una fecha de inicio y una fecha de fin?
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <label><input type="radio" id="cbox1" name="fecha" value="true" title="Si escoge esta opción deberá ingresar dias y horario de inicio y fin de la actividad"> Si</label><br>
                                        <label><input type="radio" id="cbox2" name="fecha" value="false" title="Si escoge esta opción deberá seleccionar los días de la semana en los cuales estará disponible la actividad"> No</label><br>
                                    </div>
                                </div>

                                <div id="fechas" style="display:none">
                                    <div class="form-group row">
                                        <!--Fecha Desde-->
                                        <label class="col-lg-4 col-form-label" for="RangoFecha">
                                            Fecha desde <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="input-group date" style="width:200px;">
                                                <input type="text" class="form-control" placeholder="01/12/2019" name="InicioEvento" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Hora Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicio" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fecha Hasta-->
                                        <label class="col-lg-4 col-form-label" for="RangoFecha">
                                            Fecha hasta <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="input-group date" style="width:200px;">
                                                <input type="text" class="form-control" placeholder="02/12/2019" name="FinEvento" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Hora Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFin" style="width:200px;">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row" id="dias" style="display:none">
                                    <!--Dias de la semana-->
                                    <label class="col-lg-4 col-form-label">
                                        Seleccione los dias en los cuales la actividad estará disponible<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="checkbox" id="Lunes" name="Lunes" style="margin-left: 10px;"> Lunes
                                        <input type="checkbox" id="Martes" name="Martes" style="margin-left: 10px;"> Martes
                                        <input type="checkbox" id="Miercoles" name="Miercoles" style="margin-left: 10px;"> Miércoles
                                        <input type="checkbox" id="Jueves" name="Jueves" style="margin-left: 10px;"> Jueves
                                        <input type="checkbox" id="Viernes" name="Viernes" style="margin-left: 10px;"> Viernes
                                        <input type="checkbox" id="Sabado" name="Sabado" style="margin-left: 10px;"> Sábado
                                        <input type="checkbox" id="Domingo" name="Domingo" style="margin-left: 10px;"> Domingo
                                    </div>
                                </div>

                                <div class="form-group row" id="horarios" style="display:none">
                                    <!--PREGUNTA SI TIENE UN MISMO HORARIO PARA TODOS LOS DIAS DE LA SEMANA QUE ESCOGIÓ-->
                                    <label class="col-lg-4 col-form-label">
                                        ¿La actividad va a tener la misma hora de inicio y fin en los dias de la semana que seleccionó?
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <label><input type="radio" id="cbox3" name="horario" value="true" title="Si escoge esta opción deberá ingresar la hora de inicio y fin que será la misma para todos los diás que seleccionó"> Si</label><br>
                                        <label><input type="radio" id="cbox4" name="horario" value="false" title="Si escoge esta opción deberá ingresar la hora de inicio y fin de cada día de la semana en forma particular"> No</label><br>
                                    </div>
                                </div>

                                <div id="mismoHorario" style="display:none">
                                    <div class="form-group row">
                                        <!--Hora Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioMismoDia" style="width:200px;">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <!--Hora Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinMismoDia" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Lunes-->
                                <div id="horarioLunes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Lunes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioLunes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Lunes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinLunes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Martes-->
                                <div id="horarioMartes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Martes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioMartes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Martes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinMartes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Miercoles-->
                                <div id="horarioMiercoles" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Miercoles</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioMiercoles" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Miercoles</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinMiercoles" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Jueves-->
                                <div id="horarioJueves" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Jueves</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioJueves" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Jueves</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinJueves" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Viernes-->
                                <div id="horarioViernes" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Viernes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioViernes" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Viernes</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinViernes" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Sabado-->
                                <div id="horarioSabado" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Sabado</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioSabado" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Sabado</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinSabado" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <!--Horario Domingo-->
                                <div id="horarioDomingo" style="display:none">
                                    <div class="form-group row">
                                        <!--Inicio-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de inicio <b>Domingo</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraInicioDomingo" style="width:200px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--Fin-->
                                        <label class="col-lg-4 col-form-label">
                                            Hora de fin <b>Domingo</b><span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="time" class="form-control" id="val-number" name="HoraFinDomingo" style="width:200px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Cupo-->
                                    <label class="col-lg-4 col-form-label" for="CantidadCupo">
                                        Cantidad de cupos disponibles<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="CantidadCupo" placeholder="100">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Edad minima-->
                                    <label class="col-lg-4 col-form-label" for="EdadMinima">
                                        Edad mínima<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="EdadMinima" placeholder="25">
                                    </div>
                                </div>

                                <!--Edad maxima-->
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="EdadMaxima">
                                        Edad máxima<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="EdadMaxima" placeholder="70">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Precio-->
                                    <label class="col-lg-4 col-form-label" for="Precio">
                                        Precio (en caso de no tener, poner cero en número) <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-currency" name="Precio" placeholder="21.60">
                                    </div>
                                </div>

                                <!--DOMICILIO-->
                                <div>Cargar domicilio de la actividad</div>
                                <div class="form-group row">
                                    <!--Calle-->
                                    <label class="col-lg-4 col-form-label" for="NombreCalle">
                                        Ingrese nombre de la calle<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="NombreCalle" placeholder="Nombre de la calle">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Nro calle-->
                                    <label class="col-lg-4 col-form-label" for="NumeroCalle">
                                        Ingrese el numero de la calle<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="NumeroCalle" placeholder="Numero de la calle">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Piso-->
                                    <label class="col-lg-4 col-form-label" for="NumeroPiso">
                                        Ingrese el numero del piso (si es planta baja, ingresar cero)
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="NumeroPiso" placeholder="0">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Departamento-->
                                    <label class="col-lg-4 col-form-label" for="NumeroDepartamento">
                                        Ingrese el numero y letra del departamento
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="NumeroDepartamento" placeholder="1c">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Codigo postal-->
                                    <label class="col-lg-4 col-form-label" for="CodigoPostal">
                                        Ingrese el codigo postal<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="CodigoPostal" placeholder="B1704">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Provincia-->
                                    <label class="col-lg-4 col-form-label" for="ProvinciaId">
                                        Seleccione provincia <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="filtroProvincia" name="ProvinciaId" title="Seleccionar provincia...">
                                            <option>Seleccionar provincia...</option>
                                            @foreach (var item in ViewBag.ListaProvincia as MultiSelectList)
                                            {

                                                <option name="valorActual" value="@item.Value">@item.Text</option>

                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Departamento-->
                                    <label class="col-lg-4 col-form-label" for="DepartamentoId">
                                        Seleccione departamento <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroDepartamento">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Localidad-->
                                    <label class="col-lg-4 col-form-label" for="DepartamentoId">
                                        Seleccione localidad <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="filtroLocalidad">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!--Aprobación-->
                                    <label class="col-lg-4 col-form-label" for="Compleja">
                                        ¿La actividad necesita de su aprobación?
                                        Si es asi, se le va mandar un formulario a los usuarios para que completen antes de poder inscribirse.
                                        El mismo lo vera usted.
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6" id="aprobacionCompleja">
                                        <label><input type="radio" id="complejaTrue" name="Compleja" value="true"> Si</label><br>
                                        <label><input type="radio" id="complejaFalse" name="Compleja" value="false"> No</label><br>
                                    </div>
                                </div>
                                <div class="form-group row" id="botonEnviar">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Crear Actividad</button>
                                    </div>
                                </div>
                            }
                            @*<form class="form-valide" action="CrearFormularioDinamico" method="Get" id="formFormu">
            <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                    <button type="submit" class="btn btn-primary">Crear formulario</button>
                </div>
            </div>
        </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/js/CrearActividad.js"></script>

    <script src="../../Content/plugins/common/common.min.js"></script>
    <script src="../../Content/js/custom.min.js"></script>
    <script src="../../Content/js/settings.js"></script>
    <script src="../../Content/js/gleek.js"></script>
    <script src="../../Content/js/styleSwitcher.js"></script>

    <script src="../../Content/plugins/moment/moment.js"></script>
    <script src="../../Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../../Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="../../Content/js/plugins-init/form-pickers-init.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>


</body>

</html>


    <script>
        //Todo siempre una vez cargada la página
        $(document).ready(function () {

            //Esto corre cuando cambias de opción en el primer select
            $('#filtroCategoria').on('change', function () {

                var idCategoria = this.value;

                //Si elegiste la opción de los guíones paramos aca para no hacer nada
                if (idCategoria === 0) {
                    return;
                }

                //Ajax SUBCATEGORIAS
                $.ajax({
                    url: "obtenerSubcategorias/" + this.value,
                    type: 'GET',
                    dataType: "json",
                    success: function (res) {
                        //Creando el segundo select
                        $("#filtroSubcategoria").empty().append('<select class="form-control" id="filtroSub" data-live-search="true" title="Seleccionar tipo de actividad..." name="SubcategoriaId">');
                        $('#filtroSub').append("<option> Seleccionar tipo de Actividad... </option>");
                        $.each(res, function () {
                            $('#filtroSub').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                        });
                    }
                });
            });

            $('#filtroProvincia').on('change', function () {

                var idProvincia = this.value;

                //Si elegiste la opción de los guíones paramos aca para no hacer nada
                if (idProvincia === 0) {
                    return;
                }

                //Ajax DEPARTAMENTOS
                $.ajax({
                    url: "obtenerDepartamentos/" + this.value,
                    type: 'GET',
                    dataType: "json",
                    success: function (res) {
                        //Creando el segundo select
                        $("#filtroDepartamento").empty().append('<select class="form-control" id="filtroDep" data-live-search="true" title="Seleccionar departamento..." name="DepartamentoId">');
                        $('#filtroDep').append("<option>Seleccionar departamento...</option>");
                        $.each(res, function () {
                            $('#filtroDep').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                        });

                        //Esto corre cuando cambias de opción en el primer select
                        $('#filtroDep').on('change', function () {

                            var idDepartamento = this.value;

                            //Si elegiste la opción de los guíones paramos aca para no hacer nada
                            if (idDepartamento === 0) {
                                return;
                            }

                            //Ajax LOCALIDADES
                            $.ajax({
                                url: "obtenerLocalidades/" + this.value,
                                type: 'GET',
                                dataType: "json",
                                success: function (res) {
                                    //Creando el segundo select
                                    $("#filtroLocalidad").empty().append('<select class="form-control" id="filtroLoc" data-live-search="true" title="Seleccionar localidad..." name="LocalidadId">');
                                    $('#filtroLoc').append("<option>Seleccionar localidad...</option>");
                                    $.each(res, function () {
                                        $('#filtroLoc').append("<option value=" + this.Id + '>' + this.Descripcion + "</option>");
                                    });
                                }
                            });
                        });

                    }
                });
            });
        });
    </script>




