
@{
    ViewBag.Title = "ListaActividades";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

@model Usuario
<link href="../../Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<!-- Page plugins css -->
<link href="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="../../Content/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<!-- Daterange picker plugins css -->
<link href="../../Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<section class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mis actividades</h4>

            <div class="table-responsive">
                <div class="header-left" style="margin-left:90%;">
                    @{
                        if (@ViewBag.ListaActvidades.Count != 0)
                        {
                            <div>
                                <button class=" btn btn-ligth" id="botonFiltrar" onclick="muestra_oculta('contenido')"><i class="fa fa-filter"></i> &nbsp; Filtrar</button>
                            </div>
                        }
                    }

                </div>
                <div class="card" id="contenido" style="background-color: #F5F5F5; width: 90%;">
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="/Actividad/ListaActividades" method="post" id="formulario1">
                                <div class="form-row">
                                    <!-- Primer fila -->
                                    <div class="form-group col-md-6">
                                        <label>Titulo</label>
                                        <input type="text"  class="form-control" id="titulo" name="titulo" placeholder="Nombre de la actividad">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Categorias</label>
                                        <select id="inputState" class="form-control" name="idCategoria">
                                            <option selected="selected">Seleccionar...</option>
                                            @foreach (var item in ViewBag.Categorias)
                                            {
                                                <option value="@item.Id">@item.Descripcion</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <!-- Segunda fila -->
                                    <div class="form-group col-md-6">
                                        <label>Estados </label>
                                        <select id="inputState2" class="form-control" name="idEstado">
                                            <option selected="selected">Seleccionar...</option>
                                            @foreach (var item in ViewBag.Estados)
                                            {
                                                <option value="@item.Id">@item.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="RangoFecha">Desde</label>

                                        <div class="input-group date" style="width:200px;">
                                            <input type="text" class="form-control" placeholder="Seleccionar.." name="fechaDesde" data-provide="datepicker" data-date-format="dd/mm/yyyy" autocomplete="off">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <!--
                                    <div class="form-group col-md-6">
                                        <label for="RangoFecha">Hasta</label>

                                        <div class="input-group date" style="width:200px;">
                                            <input type="text" class="form-control" placeholder="Seleccionar.." name="fechaHasta" data-provide="datepicker" data-date-format="dd/mm/yyyy" autocomplete="off">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>

                                        </div>
                                    </div> -->

                                </div>


                                <button type="button" class="btn btn-secondary" onclick="enviar()">Buscar</button>
                            </form>
                        </div>
                    </div>

                </div>
                <br><br>

                            @if (ViewBag.resultadoVacio != null)
                            {
                                <div class="alert alert-info" role="alert">
                                    @ViewBag.resultadoVacio
                                </div>
                            } 

                <table class="table header-border table-hover verticle-middle">

                    @{
                        if (@ViewBag.ListaActvidades.Count != 0)
                        {
                            <thead>
                                <tr>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Titulo actividad</th>
                                    <th scope="col">Cupo</th>
                                    <th scope="col">Aprobados</th>
                                    <th scope="col">Pendientes</th>
                                    <th scope="col">Rechazados</th>
                                    <th scope="col">Cancelados</th>
                                    <th scope="colgroup"></th>
                                    <th scope="colgroup"></th>
                                    <th scope="colgroup"></th>
                                    <th scope="colgroup">Estado</th>
                                </tr>
                            </thead>
                        }
                        else
                        {
                            <p>Usted no tiene actividades creadas, ni publicadas.</p>
                        }
                    }

                    <tbody>
                        @if (ViewBag.ListaActvidadesFiltrada == null) //sin filtrar 
                        {
                            foreach (Actividad i in ViewBag.ListaActvidades)
                            {
                                var usuariosEliminar = new List<UsuarioInscriptoActividad>();

                                usuariosEliminar = i.UsuarioInscriptoActividad.ToList(); //almaceno los usuarios de cada actividad
                                if (i.Foto != null && i.Foto.Length > 0)
                                {
                                    ViewBag.Url = i.Foto;
                                }
                                else
                                {
                                    ViewBag.Url = "/Content/images/sin_foto.png";

                                }
                        <tr>
                            <td><a href="/Actividad/FichaActividad/?idActividad=@i.Id&inscribirse=false"><img src="@Url.Content(ViewBag.Url)" style="width: 150px; height: 110px; border-radius: 3px;"> </a></td>
                            <td>@i.Titulo</td>
                            <td>
                                @Convert.ToInt32(@i.CantidadCupo - @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count()) / @i.CantidadCupo
                            </td>
                            <td style="text-align: center;">
                                <a href="/Actividad/ListaEstado?estadoId=1&actividadId=@i.Id"><span class="label gradient-3 rounded" style="font-size: 15px !important;">@i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count() </span></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="/Actividad/ListaEstado?estadoId=2&estadoId2=9&estadoId3=8&actividadId=@i.Id">
                                    <span class="label gradient-2 rounded" style="font-size: 15px !important;">
                                        @i.UsuarioInscriptoActividad.Where(x => (x.Estado.Descripcion == "Pendiente de aprobación" || x.Estado.Descripcion == "Rehizó el formulario, a la espera de la aprobación" || x.Estado.Descripcion == "Rehacer formulario") && x.ActividadId == i.Id).Count()
                                    </span>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="/Actividad/ListaEstado?estadoId=4&actividadId=@i.Id">
                                    <span class="label gradient-1 rounded" style="font-size: 15px !important;">
                                        @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Rechazado" && x.ActividadId == i.Id).Count()
                                    </span>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="/Actividad/ListaEstado?estadoId=3&actividadId=@i.Id">
                                    <span class="label gradient-1 rounded" style="font-size: 15px !important; background-image: linear-gradient(230deg, #96c6ce, #4ba7bc);">
                                        @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Cancelado" && x.ActividadId == i.Id).Count()
                                    </span>
                                </a>
                            </td>

                            @if (usuariosEliminar.Count != 0)// si tengo usuarios incriptos entra aca
                            {
                                //busco los usuarios sin estado aprobado, pendiente con pendiente con formulario hecho
                                var usuariosOtros = usuariosEliminar.Where(x => x.Estado.Descripcion != "Aprobado" && x.Estado.Descripcion != "Pendiente de aprobación" && x.Estado.Descripcion != "Rehizó el formulario, a la espera de la aprobación"&& x.Estado.Descripcion != "Rehacer formulario" ).ToList();

                                //busco los usuarios con estado aprobado, pendiente con pendiente con formulario hecho
                                var usuariosNoEliminar = usuariosEliminar.Where(x => x.Estado.Descripcion == "Aprobado" || x.Estado.Descripcion == "Pendiente de aprobación" || x.Estado.Descripcion == "Rehizó el formulario, a la espera de la aprobación" || x.Estado.Descripcion == "Rehacer formulario").ToList();
                                if (usuariosNoEliminar.Count != 0) // si tengo usuarios que no debo eliminar, bloqueo el boton 
                                {
                                    <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="No puede editar una actividad con usuarios" onclick="return false"><i class="fa fa-pencil color-muted m-r-5" style="color:#D5D2D2;"></i> </a></span></td>
                                    <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="No puede eliminar una actividad con usuarios" onclick="return false" style="color:#D5D2D2;"><i class="fa fa-close color-danger"></i></a></span></td>
                                }
                                if (usuariosOtros.Count != 0 && usuariosNoEliminar.Count == 0 )//si tengo usuarios de estados distinto a eliminar, habilito boton eliminar
                                {
                                    <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Editar actividad"><i class="fa fa-pencil color-muted m-r-5" ></i> </a></span></td>
                                    <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="Eliminar actividad"><i class="fa fa-close color-danger"></i></a></span></td>
                                }

                            }
                            else //no tengo usuarios inscriptos, habilito botones
                            {
                                <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Editar actividad"><i class="fa fa-pencil color-muted m-r-5" ></i> </a></span></td>
                                <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="Eliminar actividad"><i class="fa fa-close color-danger" ></i></a></span></td>

                            }

                        <td>
                            @if (i.Estado.Id != 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null)
                            {
                                <a href="/Actividad/CrearFormularioDinamico?actividad=@i.Id"><span data-toggle="tooltip" data-placement="top" title="Agregar formulario personalizado"><i class="fa fa-file-text-o fa-2x"></i></span></a>
                            }
                            else
                            {


                                @*NO ESTA PUBLICADA LA ACTIVIDAD Y TIENE FORMULARIO DINAMICO*@
                                if (i.Estado.Id != 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null)
                                {
                                    <a href="/Actividad/CrearFormularioDinamico?actividad=@i.Id"><span data-toggle="tooltip" data-placement="top" title="Agregar formulario personalizado"><i class="fa fa-file-text-o fa-2x"></i></span></a>
                                }
                                @*ESTA PUBLICADA LA ACTIVIDAD Y TIENE FORMULARIO DINAMICO*@
                                if (i.Estado.Id == 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() != null)
                                {

                                    <a href="/Actividad/VerFormularioEntidad?actividadId=@i.Id&usuarioRespuestaId=@Model.Id"><span data-toggle="tooltip" data-placement="top" title="Ver formulario"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></span></a>
                                }
                                @*ESTA PUBLICADA LA ACTIVIDAD Y NOOO TIENE FORMULARIO DINAMICO*@
                                if (i.Estado.Id == 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null)

                                {
                                    <a href="/Actividad/VerFormularioEntidad?actividadId=@i.Id&usuarioRespuestaId=@Model.Id"><span data-toggle="tooltip" data-placement="top" title="No tiene formulario" onclick="return false" ><i class="fa fa-eye fa-2x" style="color:#D5D2D2;" aria-hidden="true"></i></span></a>

                                }
                             
                            }
                        </td>
                            <td>
                                @if (i.Estado.Id != 7)
                                {
                                    <a href="/Actividad/Publicar?idActividad=@i.Id"><button class="btn mb-1 btn-primary">Publicar</button></a>

                                }
                                else
                                {
                                    <span>Publicada</span>
                                }
                            </td>

                        </tr>

                            }
                        }
                        else //filtradas 
                        {

                            foreach (Actividad i in ViewBag.ListaActvidadesFiltrada)
                            {
                                var usuariosEliminar2 = new List<UsuarioInscriptoActividad>();
                                usuariosEliminar2 = i.UsuarioInscriptoActividad.ToList(); //almaceno los usuarios de cada actividad


                                var filtradasPuedeEliminar = ViewBag.ListaActvidadesFiltrada;
                                if (i.Foto != null && i.Foto.Length > 0)
                                {
                                    ViewBag.Url = i.Foto;
                                }
                                else
                                {
                                    ViewBag.Url = "/Content/images/sin_foto.png";

                                }
                                <tr>
                                    <td><a href="/Actividad/FichaActividad/?idActividad=@i.Id&inscribirse=false"><img src="@Url.Content(ViewBag.Url)"  style="width: 150px; height: 110px; border-radius: 3px;"> </a></td>
                                    <td>@i.Titulo</td>
                                    <td>
                                        @Convert.ToInt32(@i.CantidadCupo - @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count()) / @i.CantidadCupo
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/Actividad/ListaEstado?estadoId=1&actividadId=@i.Id"><span class="label gradient-3 rounded" style="font-size: 15px !important;">@i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count() </span></a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/Actividad/ListaEstado?estadoId=2&estadoId2=9&estadoId3=8&actividadId=@i.Id">
                                            <span class="label gradient-2 rounded" style="font-size: 15px !important;">
                                                @i.UsuarioInscriptoActividad.Where(x => (x.Estado.Descripcion == "Pendiente de aprobación" || x.Estado.Descripcion == "Rehizó el formulario, a la espera de la aprobación" || x.Estado.Descripcion == "Rehacer formulario") && x.ActividadId == i.Id).Count()
                                            </span>
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/Actividad/ListaEstado?estadoId=4&actividadId=@i.Id">
                                            <span class="label gradient-1 rounded" style="font-size: 15px !important;">
                                                @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Rechazado" && x.ActividadId == i.Id).Count()
                                            </span>
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/Actividad/ListaEstado?estadoId=3&actividadId=@i.Id">
                                            <span class="label gradient-1 rounded" style="font-size: 15px !important; background-image: linear-gradient(230deg, #96c6ce, #4ba7bc);">
                                                @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Cancelado" && x.ActividadId == i.Id).Count()
                                            </span>
                                        </a>
                                    </td>

                                    @if (usuariosEliminar2.Count != 0)// si tengo usuarios incriptos entra aca
                                    {
                                        //busco los usuarios sin estado aprobado, pendiente con pendiente con formulario hecho
                                        var usuariosOtros2 = usuariosEliminar2.Where(x => x.Estado.Descripcion != "Aprobado" && x.Estado.Descripcion != "Pendiente de aprobación" && x.Estado.Descripcion != "Rehizó el formulario, a la espera de la aprobación" && x.Estado.Descripcion != "Rehacer formulario").ToList();

                                        //busco los usuarios con estado aprobado, pendiente con pendiente con formulario hecho
                                        var usuariosNoEliminar2 = usuariosEliminar2.Where(x => x.Estado.Descripcion == "Aprobado" || x.Estado.Descripcion == "Pendiente de aprobación" || x.Estado.Descripcion == "Rehizó el formulario, a la espera de la aprobación" || x.Estado.Descripcion == "Rehacer formulario").ToList();
                                        if (usuariosNoEliminar2.Count != 0) // si tengo usuarios que no debo eliminar, bloqueo el boton
                                        {
                                            <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="No puede editar una actividad con usuarios" onclick="return false"><i class="fa fa-pencil color-muted m-r-5"></i> </a></span></td>
                                            <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="No puede eliminar una actividad con usuarios" onclick="return false"><i class="fa fa-close color-danger"></i></a></span></td>
                                        }
                                        if (usuariosOtros2.Count != 0 && usuariosNoEliminar2.Count == 0 )//si tengo usuarios de estados distinto a eliminar, habilito boton eliminar
                                        {
                                            <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Editar actividad"><i class="fa fa-pencil color-muted m-r-5" style="color:blue;"></i> </a></span></td>
                                            <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="Eliminar actividad"><i class="fa fa-close color-danger" style="color:red;"></i></a></span></td>
                                        }

                                    }
                                    else //no tengo usuarios inscriptos, habilito botones
                                    {
                                        <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Editar actividad"><i class="fa fa-pencil color-muted m-r-5" style="color:blue;"></i> </a></span></td>
                                        <td><span><a href="/Actividad/EliminaroDarseBajaActividad?actividadId=@i.Id" data-toggle="tooltip" data-placement="top" title="Eliminar actividad"><i class="fa fa-close color-danger" style="color:red;"></i></a></span></td>

                                    }

                                <td>
                                    @*NO ESTA PUBLICADA LA ACTIVIDAD Y TIENE FORMULARIO DINAMICO*@
                                    @if (i.Estado.Id != 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null)
                                    {
                                        <a href="/Actividad/CrearFormularioDinamico?actividad=@i.Id"><span data-toggle="tooltip" data-placement="top" title="Agregar formulario personalizado"><i class="fa fa-file-text-o fa-2x"></i></span></a>
                                    }
                                    @*ESTA PUBLICADA LA ACTIVIDAD Y TIENE FORMULARIO DINAMICO*@
                                    @if (i.Estado.Id == 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() != null)
                                    {

                                        <a href="/Actividad/VerFormularioEntidad&actividadId=@i.Id?usuarioRespuestaId=@Model.Id"><span data-toggle="tooltip" data-placement="top" title="Ver formulario" ><i class="fa fa-eye fa-2x" aria-hidden="true"></i></span></a>
                                    }
                                    @*ESTA PUBLICADA LA ACTIVIDAD Y NOOO TIENE FORMULARIO DINAMICO*@
                                    @if (i.Estado.Id == 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null)

                                    {
                                        <a href="/Actividad/VerFormularioEntidad?actividadId=@i.Id&usuarioRespuestaId=@Model.Id" ><span data-toggle="tooltip" data-placement="top" title="No tiene formulario" onclick="return false"><i class="fa fa-eye fa-2x" style="color:#D5D2D2;" aria-hidden="true"></i></span></a>

                                    }
                                </td>
                        <td>
                            @if (i.Estado.Id != 7)
                            {
                                <a href="/Actividad/Publicar?idActividad=@i.Id"><button class="btn mb-1 btn-primary">Publicar</button></a>

                                        }
                                        else
                                        {
                                            <span>Publicada</span>
                                        }
                                    </td>

                                </tr>

                            }
                        }






                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../../Content/plugins/common/common.min.js"></script>
    <script src="../../Content/js/custom.min.js"></script>
    <script src="../../Content/js/settings.js"></script>
    <script src="../../Content/js/gleek.js"></script>
    <script src="../../Content/js/styleSwitcher.js"></script>

    <script src="../../Content/plugins/moment/moment.js"></script>
    <script src="../../Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="../../Content/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../../Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="../../Content/js/plugins-init/form-pickers-init.js"></script>
    <script src="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
        function enviar() {
                var formulario = document.getElementById("formulario1");
                var titulo = document.getElementById("titulo");

                if(titulo == null){
                    document.formulario1.titulo.value = " ";
                }

                formulario.submit();
             }
   
    </script>
    <script>
        function muestra_oculta(id) {
            if (document.getElementById) { //se obtiene el id
                var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
                el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
            }
        }
        window.onload = function () {/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
            muestra_oculta('contenido');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
        }


    </script>
</section>

