
@{
    ViewBag.Title = "ListaActividades";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

@model Usuario
<section class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mis actividades</h4>

            <div class="table-responsive">
                <div class="header-left" style="margin-left:80%;">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Buscar categoria" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br>
                <table class="table header-border table-hover verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Titulo actividad</th>
                            <th scope="col">Cupo</th>
                            <th scope="col">Aprobados</th>
                            <th scope="col">Pendientes</th>
                            <th scope="col">Rechazados</th>
                            <th scope="colgroup"></th>
                            <th scope="colgroup"></th>
                            <th scope="colgroup"></th>
                            <th scope="colgroup">Estado</th>
                        </tr>
                    </thead>
                    <tbody>

                        @*@foreach (Actividad i in Model)*@

                        @foreach (Actividad i in ViewBag.ListaActvidades)
                        {
                            if (i.Foto != null && i.Foto.Length > 0)
                            {
                                ViewBag.Url = i.Foto;
                            }
                            else
                            {
                                ViewBag.Url = "/Content/images/sin_foto.png";
                    
                            }
                            <tr>
                                <td><a href="/Actividad/FichaActividad/?idActividad=@i.Id&inscribirse=false"><img src="@Url.Content(ViewBag.Url)" style="width: 190px; height: 120px;"> </a></td>
                                <td>@i.Titulo</td>
                                <td>
                                    @Convert.ToInt32(@i.CantidadCupo - @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count()) / @i.CantidadCupo
                                </td>
                                <td style="text-align: center;">
                                    <a href="/Actividad/ListaEstado?estadoId=1&actividadId=@i.Id"><span class="label gradient-3 rounded" style="font-size: 15px !important;">@i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Aprobado" && x.ActividadId == i.Id).Count() </span></a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="/Actividad/ListaEstado?estadoId=2&actividadId=@i.Id">
                                        <span class="label gradient-2 rounded" style="font-size: 15px !important;">
                                            @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Pendiente" && x.ActividadId == i.Id).Count()
                                        </span>
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="/Actividad/ListaEstado?estadoId=4&actividadId=@i.Id">
                                        <span class="label gradient-1 rounded" style="font-size: 15px !important;">
                                            @i.UsuarioInscriptoActividad.Where(x => x.Estado.Descripcion == "Rechazado" && x.ActividadId == i.Id).Count()
                                        </span>
                                    </a>
                                </td>
                                
                                <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5"></i> </a></span></td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-close color-danger"></i></a></span></td>
                                
                                <td>@if (i.Estado.Id != 7 && i.FormularioDinamico.Where(x => x.ActividadId == i.Id).FirstOrDefault() == null) 
                                {
                                    <a href="/Actividad/CrearFormularioDinamico?actividad=@i.Id"><span data-toggle="tooltip" data-placement="top" title="Agregar formulario personalizado" ><i class="fa fa-file-text-o fa-2x"></i></span></a>
                                }else{
                                <a href="/Actividad/RespuestasFormularioDinamico?actividadId=@i.Id?usuarioRespuestaId=@Model.Id"><span data-toggle="tooltip" data-placement="top" title="Ver formulario"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></span></a>
                                }
                                </td>
                                <td>@if (i.Estado.Id != 7) 
                                {
                                    <a href="/Actividad/Publicar?idActividad=@i.Id"><button class="btn mb-1 btn-primary">Publicar</button></a>
                                    
                                }else{
                                    <span>Publicada</span>
                                }
                                </td>

                            </tr>

                        }

                        @*<tr>
            <th><img src="../../Content/images/1.jpg"></th>
            <td>Air Conditioner</td>
            <td>Air Conditioner</td>
            <td>Air Conditioner</td>
            <td>
                <div class="progress" style="height: 10px">
                    <div class="progress-bar gradient-1" style="width: 70%;" role="progressbar">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label gradient-1 btn-rounded">70%</span>
            </td>
            <td>
                <span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
            </td>
            <td>
                <span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </td>
        </tr>
        <tr>
            <th><img src="../../Content/images/2.jpg"></th>
            <td>Textiles</td>
            <td>Textiles</td>
            <td>Textiles</td>
            <td>
                <div class="progress" style="height: 10px">
                    <div class="progress-bar gradient-2" style="width: 70%;" role="progressbar">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </td>
            <td><span class="label btn-rounded gradient-2">70%</span></td>
            <td><span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i></a></td>
            <td>
                <span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </td>
        </tr>
        <tr>
            <th><img src="../../Content/images/5.jpg"></th>
            <td>Milk Powder</td>
            <td>Milk Powder</td>
            <td>Milk Powder</td>
            <td>
                <div class="progress" style="height: 10px">
                    <div class="progress-bar gradient-3" style="width: 70%;" role="progressbar">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label btn-rounded gradient-3">70%</span>
            </td>
            <td>
                <span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
            </td>
            <td>
                <span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </td>
        </tr>
        <tr>
            <th><img src="../../Content/images/4.jpg"></th>
            <td>Vehicles</td>
            <td>Vehicles</td>
            <td>Vehicles</td>
            <td>
                <div class="progress" style="height: 10px">
                    <div class="progress-bar gradient-8" style="width: 70%;" role="progressbar">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label gradient-8 btn-rounded">70%</span>
            </td>
            <td>
                <span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
            </td>
            <td>
                <span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </td>
        </tr>
        <tr>
            <th><img src="../../Content/images/3.jpg"></th>
            <td>Boats</td>
            <td>Boats</td>
            <td>Boats</td>
            <td>
                <div class="progress" style="height: 10px">
                    <div class="progress-bar gradient-1" style="width: 70%;" role="progressbar">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label gradient-1 btn-rounded">70%</span>
            </td>
            <td>
                <span><a href="/Actividad/ModificarActividad" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
            </td>
            <td>
                <span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </td>
        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

