
@{
    ViewBag.Title = "RespuestasFormularioDinamico";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

<section class="container-fluid">
    <div class="card" style="border-radius: .25rem; border: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="card-body">
            <div class="media media-reply">
                <div class="media-body">
                    @if (ViewBag.Campos != null)
                    {
                        <div class="d-sm-flex justify-content-between mb-2">
                            <h5 class="mb-sm-0" style="font-size: 1.25rem;">@ViewBag.NombreFormulario <small class="text-muted ml-3" style="color: #6c757d!important;"> @ViewBag.DescripcionFormulario </small></h5>
                        </div>

                        <div class="media mt-3">
                            <div class="media-body">
                                <p>Formulario que pertenece a la actividad @ViewBag.Actividad.Titulo, respuestas dadas por el usuario: @ViewBag.DatosUsuario.Nombre @ViewBag.DatosUsuario.Apellido </p>
                                    @foreach (var item in ViewBag.Campos)
                                    {
                                        if (item.FormularioDinamicoId == ViewBag.IdFormularioDinamico)
                                        {
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">
                                                    @item.Nombre  @if (item.Obligatorio)
                                                    {<span class="text-danger">*</span>}
                                                </label>
                                                <div class="col-lg-6">

                                                    @foreach (var res in item.Respuesta)
                                                    {
                                                        if (res.UsuarioId == ViewBag.UsuarioRespuestaId)
                                                        {
                                                            ViewBag.Respuesta = res.Respuesta1.ToString();


                                                            if (res.Campos.TipoDatoCampoId == 5)
                                                            {
                                                                if (ViewBag.Respuesta != "0")
                                                                {
                                                                    <img src="@Url.Content(ViewBag.Respuesta)" style="width: 40%;" />
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <input class="form-control" id="val-suggestions" value=@ViewBag.Respuesta maxlength="50" disabled />

                                                            }
                                                        }

                                                    }


                                                </div>
                                            </div>



                                           
                                        }
                                    }
                                
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div>
                <a href="/Actividad/ListaEstado?estadoId=@ViewBag.Estado&actividadId=@ViewBag.ActividadId"><button type="button" class="btn mb-1 btn-info" data-toggle="modal" data-target="#guardar">Volver</button></a>
            </div>

        </div>
    </div>
</section>

