
@{
    ViewBag.Title = "VerRespuestaFormulario";
    Layout = "~/Views/Shared/_LayoutPerfilUsuario.cshtml";
}

    <section class="container-fluid" style="font-family: Roboto, sans-serif; font-size: 14px;">
        <div class="card">
            <div class="card-body">
                <div class="media media-reply">
                    <div class="media-body">
                        @if (ViewBag.Campos != null)
                        {
                            <div class="d-sm-flex justify-content-between mb-2">
                                <h5 class="mb-sm-0">@ViewBag.NombreFormulario <small class="text-muted ml-3"> @ViewBag.DescripcionFormulario </small></h5>
                            </div>

                            <div class="media mt-3">
                                <div class="media-body">
                                    <table id="tablePreview" class="table">

                                        @foreach (var item in ViewBag.Campos)
                                        {
                                            if (item.FormularioDinamicoId == ViewBag.IdFormularioDinamico)
                                            {
                                                <thead>
                                                    <tr>
                                                        <th scope="row">@item.Nombre</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @foreach (var res in item.Respuesta)
                                                            {
                                                                if (res.UsuarioId == ViewBag.UsuarioRespuestaId)
                                                                {
                                                                    ViewBag.Respuesta = res.Respuesta1.ToString();
                                                                    if (res.Campos.TipoDatoCampoId == 5)
                                                                    {
                                                                        if (ViewBag.Respuesta != "0")
                                                                        {
                                                                            <img src="@Url.Content(ViewBag.Respuesta)" style="width: 40%;" />
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @ViewBag.Respuesta
                                                                    }

                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div>
                    <a href="/Actividad/ActividadesDelUsuarioInscripto"><button type="button" class="btn mb-1 btn-info" data-toggle="modal" data-target="#guardar">Volver</button></a>
                </div>

            </div>
        </div>
    </section>

