@model Usuario
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vita-Perfil</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Content/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/css/stylePerfil.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="~/Content/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
        Nav header end
    ***********************************-->
        <!--**********************************
        Header start
    ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>

                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 Nuevos mensajes</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Torneo truco</div>
                                                    <div class="notification-timestamp">Solicitud</div>
                                                    <div class="notification-text">karaoke desea unirse ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Torneo truco</div>
                                                    <div class="notification-timestamp">Solicitud</div>
                                                    <div class="notification-text">Hola! RosaVive desea unirse ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Torneo truco</div>
                                                    <div class="notification-timestamp">Solicitud</div>
                                                    <div class="notification-text">Hola! NuncaViejo desea unirse ...</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 Nuevas notificaciones</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Torneo truco</h6>
                                                    <span class="notification-text">Se ha sumado GustiCABJ a la actividad</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Taller manualidades</h6>
                                                    <span class="notification-text">Se ha sumado RosaVive a la actividad</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Taller manualidades</h6>
                                                    <span class="notification-text">BelJoven a abandonado la actividad</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Torneo damas</h6>
                                                    <span class="notification-text">Ningún inscripto</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">

                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Hola @Model.Nombre !</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                @if (Model.Foto != null && Model.Foto.Length > 0)
                                {
                                    ViewBag.Url = "data:image;base64," + Convert.ToBase64String(Model.Foto);
                                }
                                else
                                {
                                    ViewBag.Url = "/Content/images/desconocido2.png";
                                }
                                <img src="@ViewBag.Url" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/Usuario/PerfilUsuario"><i class="icon-user"></i> <span>Perfil</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li><a href="/Login/Logout"><i class="icon-key"></i> <span>Cerrar sesión</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
        <!--**********************************
        Sidebar start
    ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-home menu-icon"></i><span class="nav-text">Home</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Home/Index">Ir a la home</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-puzzle menu-icon"></i><span class="nav-text">Actividades</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Actividad/CrearActividad">Crear actividad</a></li>
                            <li><a href="/Actividad/ListaActividades">Mis actividades</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Configuracion</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-icon"></i> <span class="nav-text">Perfil</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Usuario/PerfilEntidad">Modificar perfil</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
        Sidebar end
    ***********************************-->
        <!--**********************************
        Sidebar end
    ***********************************-->
        <!--**********************************
        Content body start
    ***********************************-->
        <div class="content-body">


            @RenderBody()


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)


            <!--**********************************
            Content body end
        ***********************************-->

        </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->
        <!--**********************************
        Scripts
    ***********************************-->
        <script src="~/Content/plugins/common/common.min.js"></script>
        <script src="~/Content/js/custom.min.js"></script>
        <script src="~/Content/js/settings.js"></script>
        <script src="~/Content/js/gleek.js"></script>
        <script src="~/Content/js/facebook.js"></script>
        <script src="~/Content/js/styleSwitcher.js"></script>

        <!-- Chartjs -->
        <script src="~/Content/plugins/chart.js/Chart.bundle.min.js"></script>
        <!-- Circle progress -->
        <script src="~/Content/plugins/circle-progress/circle-progress.min.js"></script>
        <!-- Datamap -->
        <script src="~/Content/plugins/d3v3/index.js"></script>
        <script src="~/Content/plugins/topojson/topojson.min.js"></script>
        <script src="~/Content/plugins/datamaps/datamaps.world.min.js"></script>
        <!-- Morrisjs -->
        <script src="~/Content/plugins/raphael/raphael.min.js"></script>
        <script src="~/Content/plugins/morris/morris.min.js"></script>
        <!-- Pignose Calender -->
        <script src="~/Content/plugins/moment/moment.min.js"></script>
        <script src="~/Content/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
        <!-- ChartistJS -->
        <script src="~/Content/plugins/chartist/js/chartist.min.js"></script>
        <script src="~/Content/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>


        <script src="~/Content/js/dashboard/dashboard-1.js"></script>

</body>

</html>