@model Usuario
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Perfil</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Content/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/css/stylePerfil.css" rel="stylesheet">


    <!-- galeria sugerencias-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="Index" style="text-decoration:none;">
                    <b class="logo-abbr"><span style="color: white;">V</span></b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <h2 style="color: white;text-align: center">Vita</h2>
                        <!-- <img src="images/logo-text.png" alt=""> -->
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
        Nav header end
    ***********************************-->
        <!--**********************************
        Header start
    ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>

                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">1</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">1 Nuevo mensaje</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">1</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Torneo truco</div>
                                                    <div class="notification-timestamp">Inscripción</div>
                                                    <div class="notification-text">Hola! confirmaron tu participación....</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Evento solidario</div>
                                                    <div class="notification-timestamp">Inscripción</div>
                                                    <div class="notification-text">Hola! confirmaron tu participación....</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-3">2</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 Nuevas Notificaciones</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">2</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Evento solidario</h6>
                                                    <span class="notification-text">Comienza el 13/12 a las 9am</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Zumba</h6>
                                                    <span class="notification-text">Comienza el 01/12 a las 10am</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Caminata</h6>
                                                    <span class="notification-text">Cancelaron la actividad del 23/12</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Evento solidario</h6>
                                                    <span class="notification-text">Recuerda tu colaboración</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Hola @Model.UsuarioName!</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="../../Content/images/person_2.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/Usuario/PerfilUsuario"><i class="icon-user"></i> <span>Perfil</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li><a href="/Login/Logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
        <!--**********************************
        Sidebar start
    ***********************************-->

        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-puzzle menu-icon"></i><span class="nav-text">Actividades</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Home/Buscador">Buscar actividades</a></li>
                            <li><a href="/Home/Sugerencias">Sugerencias</a></li>
                            <li><a href="/Actividad/Actividades">Agenda</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer   menu-icon"></i><span class="nav-text">Eventos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Home/Buscador">Buscar eventos</a></li>
                            <li><a href="/Home/Sugerencias">Sugerencias</a></li>
                            <li><a href="/Home/">Agenda</a></li>
                            <li><a href="/Colaboracion/ColaboracionesUsuario">Colaboraciones</a></li>

                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-calender menu-icon"></i><span class="nav-text">Calendario</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Home/Calendario">Ver fechas</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Configuracion</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-icon"></i> <span class="nav-text">Perfil</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Usuario/PerfilUsuario">Modificar perfil</a></li>

                        </ul>
                    </li>

                    <li class="nav-label">Apps</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Chat</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Chat/ChatGrupal">Grupal</a></li>
                            <li><a href="/Chat/ChatIndividual">Individual</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>

        <!--**********************************
        Sidebar end
    ***********************************-->
        <!--**********************************
        Content body start
    ***********************************-->
        <div class="content-body" style="background-color:#F3F3F9">


            @RenderBody()


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)


            <!--**********************************
            Content body end
        ***********************************-->

        </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->
        <!--**********************************
        Scripts
    ***********************************-->
        <script src="~/Content/plugins/common/common.min.js"></script>
        <script src="~/Content/js/custom.min.js"></script>
        <script src="~/Content/js/settings.js"></script>
        <script src="~/Content/js/gleek.js"></script>
        <script src="~/Content/js/styleSwitcher.js"></script>
        <script src="~/Content/js/facebook.js"></script>

        <!-- Chartjs -->
        <script src="~/Content/plugins/chart.js/Chart.bundle.min.js"></script>
        <!-- Circle progress -->
        <script src="~/Content/plugins/circle-progress/circle-progress.min.js"></script>
        <!-- Datamap -->
        <script src="~/Content/plugins/d3v3/index.js"></script>
        <script src="~/Content/plugins/topojson/topojson.min.js"></script>
        <script src="~/Content/plugins/datamaps/datamaps.world.min.js"></script>
        <!-- Morrisjs -->
        <script src="~/Content/plugins/raphael/raphael.min.js"></script>
        <script src="~/Content/plugins/morris/morris.min.js"></script>
        <!-- Pignose Calender -->
        <script src="~/Content/plugins/moment/moment.min.js"></script>
        <script src="~/Content/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
        <!-- ChartistJS -->
        <script src="~/Content/plugins/chartist/js/chartist.min.js"></script>
        <script src="~/Content/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>


        <script src="~/Content/js/dashboard/dashboard-1.js"></script>

</body>

</html>