<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <!--ESTILOS-->
    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/theme/lib/font-awesome/css/font-awesome.min.css">
    <!--FIN ESTILOS-->

</head>
<body>

    <!--INICIO NAVEGACIÓN-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><img id="logo" src="../../Content/images/iso.png" style="width:35px; height: 35px;"> Vita </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link"></a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link"></a></li>
                    <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li> <!--HOME-->
                    <li class="nav-item"><a href="/Home/Actividades" class="nav-link">Actividades</a></li> <!--ACTIIDADES-->
                    <li class="nav-item"><a href="/Home/Eventos" class="nav-link">Eventos</a></li> <!--EVENTOS-->

                    <li class="nav-item cta mr-md-1"><a href="/Home/Login" class="nav-link">Login</a></li> <!--LOGIN-->
                    <li class="nav-item cta cta-colored"><a href="/Home/Registro" class="nav-link">Registrarse</a></li> <!--REGISTRARSE-->
                </ul>
            </div>
        </div>
    </nav>
    <!--FIN NAVEGACIÓN-->

    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- INICIO PIE DE PÁGINA-->
    <hr />
    <footer>
        <div class="footer-area" style="padding: 40px 0; background: #f9f9f9">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2>Vita</h2>
                                </div>
                                <p>"La página web que te hace mover" Todos los derechos reservados.</p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>información</h4>
                                <p>
                                    Para obervaciones, opiniones o quejas.. contáctemos ¡Continuamente estamos mejorando para usted!
                                </p>
                                <div class="footer-contacts">
                                    <p><span>WhatsApp:</span> +011 4563 7896</p>
                                    <p><span>Email:</span> InfoVita@gmail.com.ar</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>&copy; @DateTime.Now.Year - VITA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN PIE DE PÁGINA-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!--INICIO SCRIPTS-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Scripts/google-map.js"></script>
    <script src="~/Scripts/main.js"></script>
    <!--FIN SCRIPTS-->
</body>


</html>
